In [327]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
sd_comp = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Preview dataset
sd_comp.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

### District Summary

- Calculate the total number of schools

- Calculate the total number of students

- Calculate the total budget

- Calculate the average math score

- Calculate the average reading score

- Calculate the percentage of students with a passing math score (70 or greater)

- Calculate the percentage of students with a passing reading score (70 or greater)

- Calculate the percentage of students who passed math and reading (% Overall Passing)

- Create a dataframe to hold the above results

- Optional: give the displayed data cleaner formatting

In [328]:
#Create variables for all calculations for District Summary:
#Calculate total number of schools
school_count = len(sd_comp["school_name"].unique())
#Calculate total number of students
student_count = len(sd_comp["student_name"])
#Calculate total budget (one budget amount per school)
    #sums budget of every student in a given school
budgetperschool = sd_comp.groupby("school_name")["budget"].sum()
    #counts every student in each school
studentperschool = sd_comp.groupby("school_name")["student_name"].count()
    #calculates actual budget per school in a list
budgetbyschool = budgetperschool/studentperschool
    #sums all school budgets
budget = budgetbyschool.sum()
#calculate average math and reading scores
avgmath = sd_comp["math_score"].mean()
avgread = sd_comp["reading_score"].mean()
#calculate passing grades
    #calculate total passes per subject
passmath = sd_comp.query("math_score>=70")["math_score"].count()
passread = sd_comp.query("reading_score>=70")["reading_score"].count()
    #calculate pass percent by subject
ppercmath = passmath/student_count
ppercread = passread/student_count
    #calculate students who passed both subjects
passboth = sd_comp.query("math_score>=70 and reading_score >=70")["reading_score"].count()
    #calculate percent who passed both subjects
ppercboth = passboth/student_count
#Rename school_name column
sd_comp= sd_comp.rename(columns={"school_name": "School Name"})

In [329]:
#Create DataFrame table for District Summary
DisSumm = pd.DataFrame({"Total Schools": [school_count],
                           "Total Students": [student_count],
                           "Total Budget": budget,
                           "Average Math Score": avgmath,
                            "Average Reading Score": avgread,
                           "% Passing Math": ppercmath*100,
                           "% Passing Reading":ppercread*100,
                           "% Overall Passing": ppercboth*100})
# Perform mapping to update formatting
DisSumm["Total Students"] = DisSumm["Total Students"].map("{:,}".format)
DisSumm["Total Budget"] = DisSumm["Total Budget"].map("${:,.2f}".format)
DisSumm["Average Math Score"] = DisSumm["Average Math Score"].map("{:.2f}".format)
DisSumm["Average Reading Score"] = DisSumm["Average Reading Score"].map("{:.2f}".format)
DisSumm["% Passing Math"] = DisSumm["% Passing Math"].map("{:.2f}%".format)
DisSumm["% Passing Reading"] = DisSumm["% Passing Reading"].map("{:.2f}%".format)
DisSumm["% Overall Passing"] = DisSumm["% Overall Passing"].map("{:.2f}%".format)
# Display formatted table
DisSumm

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [330]:
## define additional variables

# identify the school type for each school
typea = sd_comp.groupby("School Name")["type"].unique()
# convert the school type into a string (from list)
typeb = typea.astype(str).str.replace('\[|\]|\'', '')
# group the average math and reading scores by school name
mathmean = sd_comp.groupby("School Name")["math_score"].mean()
readmean = sd_comp.groupby("School Name")["reading_score"].mean()
# perform a list comprehension where:
    # for each student in the dataframe, if the math score (or reading score) is >=70, assign a "1". If not, assign a "0"
mathflag = [1 if x>=70 else 0 for x in sd_comp["math_score"]]
readflag = [1 if x>=70 else 0 for x in sd_comp["reading_score"]]
# zip together the math and reading passing flags
overallzip = zip(mathflag,readflag)
# create an empty list flag that will hold a "1" if a student passed both subjects or else a "0"
overallflag = []
# review the zipped flag list and if the student passed math (1) and reading (1) (1+1=2), add a "1" to the overall flag list, or else and a "0"
for x,y in overallzip:
    if (x + y) == 2:  
        overallflag.append(1)
    else: overallflag.append(0)
# create a new dataframe that will hold the three flags created called overall_table as a copy of the original dataframe
overall_table = sd_comp.copy()
# add three new columns
overall_table["Pass_Math"]= mathflag
overall_table["Pass_Reading"]= readflag
overall_table["Pass_Both"]= overallflag
# since each student who passed mth/reading/both will have a 1 in the respective column, group by school name and sum
passmsch = overall_table.groupby("School Name")["Pass_Math"].sum()
passrsch = overall_table.groupby("School Name")["Pass_Reading"].sum()
passosch = overall_table.groupby("School Name")["Pass_Both"].sum()
# displays new dataframe for reference
overall_table.head()

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,type,size,budget,Pass_Math,Pass_Reading,Pass_Both
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,1,0,0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,0,1,0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,0,1,0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,0,0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,1,1,1

In [331]:
#Create DataFrame table for School Summary
SchoolSumm = pd.DataFrame({ "School Type": typeb,
                            "Total Students": studentperschool,
                            "Total School Budget": budgetbyschool,
                            "Per Student Budget": budgetbyschool/studentperschool,
                            "Average Math Score": mathmean,
                            "Average Reading Score":readmean,
                            "% Passing Math": passmsch/studentperschool*100, 
                            "% Passing Reading":passrsch/studentperschool*100,
                            "% Overall Passing":passosch/studentperschool*100
})
#Since SchoolSumm will be used in other calculations, create a copy of the DataFrame to map for formatting
SchoolSummFormatted = SchoolSumm.copy()
SchoolSummFormatted["Total Students"] = SchoolSummFormatted["Total Students"].map("{:,}".format)
SchoolSummFormatted["Total School Budget"] = SchoolSummFormatted["Total School Budget"].map("${:,.2f}".format)
SchoolSummFormatted["Per Student Budget"] = SchoolSummFormatted["Per Student Budget"].map("${:,.2f}".format)
SchoolSummFormatted["Average Math Score"] = SchoolSummFormatted["Average Math Score"].map("{:.2f}".format)
SchoolSummFormatted["Average Reading Score"] = SchoolSummFormatted["Average Reading Score"].map("{:.2f}".format)
SchoolSummFormatted["% Passing Math"] = SchoolSummFormatted["% Passing Math"].map("{:.2f}%".format)
SchoolSummFormatted["% Passing Reading"] = SchoolSummFormatted["% Passing Reading"].map("{:.2f}%".format)
SchoolSummFormatted["% Overall Passing"] = SchoolSummFormatted["% Overall Passing"].map("{:.2f}%".format)

# Display formatted table
SchoolSummFormatted

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

### Top Performing Schools (By % Overall Passing)

* Create a table that highlights the top 5 performing schools based on % Overall Passing. Include:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [332]:
# Sort the SchoolSumm table as described above
top_schools = SchoolSumm.sort_values(by=['% Overall Passing'], ascending = False)
# Update the mapping/formatting
top_schools["Total Students"] = top_schools["Total Students"].map("{:,}".format)
top_schools["Total School Budget"] = top_schools["Total School Budget"].map("${:,.2f}".format)
top_schools["Per Student Budget"] = top_schools["Per Student Budget"].map("${:,.2f}".format)
top_schools["Average Math Score"] = top_schools["Average Math Score"].map("{:.2f}".format)
top_schools["Average Reading Score"] = top_schools["Average Reading Score"].map("{:.2f}".format)
top_schools["% Passing Math"] = top_schools["% Passing Math"].map("{:.2f}%".format)
top_schools["% Passing Reading"] = top_schools["% Passing Reading"].map("{:.2f}%".format)
top_schools["% Overall Passing"] = top_schools["% Overall Passing"].map("{:.2f}%".format)
# Display the table
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

### Bottom Performing Schools (By % Overall Passing)

* Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above.

In [333]:
# Sort the SchoolSumm table as described above
worst_schools = SchoolSumm.sort_values(by=['% Overall Passing'], ascending = True)
# Update the mapping/formatting
worst_schools["Total Students"] = worst_schools["Total Students"].map("{:,}".format)
worst_schools["Total School Budget"] = worst_schools["Total School Budget"].map("${:,.2f}".format)
worst_schools["Per Student Budget"] = worst_schools["Per Student Budget"].map("${:,.2f}".format)
worst_schools["Average Math Score"] = worst_schools["Average Math Score"].map("{:.2f}".format)
worst_schools["Average Reading Score"] = worst_schools["Average Reading Score"].map("{:.2f}".format)
worst_schools["% Passing Math"] = worst_schools["% Passing Math"].map("{:.2f}%".format)
worst_schools["% Passing Reading"] = worst_schools["% Passing Reading"].map("{:.2f}%".format)
worst_schools["% Overall Passing"] = worst_schools["% Overall Passing"].map("{:.2f}%".format)
# Display the table
worst_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

### Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [338]:
# From the original data set, pull the columns School Name, Grade and Math Score
mathbygrades = sd_comp.loc[:,["School Name","grade","math_score"]]
# To properly order the grades, we will convert the "Xth" grade to number, bin, and reassign in Grade Level column
mathbygrades["grade"] = mathbygrades["grade"].replace("th","",regex=True).astype('float')
bins = [0,9,10,11,12]
cats = ["9th","10th","11th","12th"]
mathbygrades['Grade Level'] = pd.cut(mathbygrades["grade"],bins,labels=cats)
# remove the old Grade column from the table
mathgrades = mathbygrades.drop(columns=["grade"])
# set School Name as index
mathgrades = mathgrades.set_index("School Name")
# Group data first by School Name, then by Grade Level, and present the average math score. Use unstack to diplay grade level in columns
mathgrades = mathgrades.groupby(["School Name","Grade Level"])["math_score"].mean().unstack()

# Display the table
mathgrades

Grade Level                  9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

### Reading Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [339]:
# From the original data set, pull the columns School Name, Grade and Reading Score
readbygrades = sd_comp.loc[:,["School Name","grade","reading_score"]]
# To properly order the grades, we will convert the "Xth" grade to number, bin, and reassign in Grade Level column
readbygrades["grade"] = readbygrades["grade"].replace("th","",regex=True).astype('float')
bins = [0,9,10,11,12]
cats = ["9th","10th","11th","12th"]
readbygrades['Grade Level'] = pd.cut(readbygrades["grade"],bins,labels=cats)
# remove the old Grade column from the table
readgrades = readbygrades.drop(columns=["grade"])
# set School Name as index
readgrades = readgrades.set_index("School Name")
# Group data first by School Name, then by Grade Level, and present the average reading score. Use unstack to diplay grade level in columns
readgrades = readgrades.groupby(["School Name","Grade Level"])["reading_score"].mean().unstack()

# Display the table
readgrades

Grade Level                  9th       10th       11th       12th
School Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

### Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [345]:
# # test to see the total range of spend by school per student is
# print(min(budgetbyschool/studentperschool),max(budgetbyschool/studentperschool))

# copy the SchoolSumm table into a new df
scorebyspend = SchoolSumm.copy()

# create bins approximately $15 in range
binss = [0,599,615,630,660]
catss = ["<$599","$600-615","$616-630",">$631"]
# apply binning to Per Student Budget
scorebyspend['Spending Ranges (Per Student)'] = pd.cut(scorebyspend["Per Student Budget"],binss,labels=catss)

# obtain the average scores by bin
scorebyspend = scorebyspend.groupby('Spending Ranges (Per Student)').mean()

# use mapping/format the table
scorebyspend["Average Math Score"] = scorebyspend["Average Math Score"].map("{:.2f}".format)
scorebyspend["Average Reading Score"] = scorebyspend["Average Reading Score"].map("{:.2f}".format)
scorebyspend["% Passing Math"] = scorebyspend["% Passing Math"].map("{:.2f}%".format)
scorebyspend["% Passing Reading"] = scorebyspend["% Passing Reading"].map("{:.2f}%".format)
scorebyspend["% Overall Passing"] = scorebyspend["% Overall Passing"].map("{:.2f}%".format)

# remove (drop) the unnecessary columns and display
scorebyspend.drop(columns=["Total Students","Total School Budget","Per Student Budget"])

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$599,83.46,83.93,93.46%,96.61%,90.37%
$600-615,83.60,83.89,94.23%,95.90%,90.22%
$616-630,80.20,82.43,80.04%,89.54%,72.62%
>$631,77.87,81.37,70.35%,83.00%,58.86%

### Scores by School Size

* Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [346]:
# # test to see the total range of total students by school is
# print(min(SchoolSumm["Total Students"]),max(SchoolSumm["Total Students"]))

# copy the SchoolSumm table into a new df
scorebysize = SchoolSumm.copy()

# create bins for school size
binsz = [0,999,1999,5000]
catsz = ["Small (<1,000)","Medium (1,000-2,000)","Large(2,000-5,000)"]
# apply binning to Total Students
scorebysize['School Size'] = pd.cut(scorebysize["Total Students"],binsz,labels=catsz)

# obtain the average scores by bin
scorebysize = scorebysize.groupby('School Size').mean()

# use mapping/format the table
scorebysize["Average Math Score"] = scorebysize["Average Math Score"].map("{:.2f}".format)
scorebysize["Average Reading Score"] = scorebysize["Average Reading Score"].map("{:.2f}".format)
scorebysize["% Passing Math"] = scorebysize["% Passing Math"].map("{:.2f}%".format)
scorebysize["% Passing Reading"] = scorebysize["% Passing Reading"].map("{:.2f}%".format)
scorebysize["% Overall Passing"] = scorebysize["% Overall Passing"].map("{:.2f}%".format)

# remove (drop) the unnecessary columns and display
scorebysize.drop(columns=["Total Students","Total School Budget","Per Student Budget"])

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
"Small (<1,000)",83.82,83.93,93.55%,96.10%,89.88%
"Medium (1,000-2,000)",83.37,83.86,93.60%,96.79%,90.62%
"Large(2,000-5,000)",77.75,81.34,69.96%,82.77%,58.29%

### Scores by School Type

* Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

In [347]:
# copy the SchoolSumm table into a new df
scorebytype = SchoolSumm.copy()

# obtain average scores by school type (no need to bin - only two options)
scorebytype = scorebytype.groupby('School Type').mean()

# use mapping/format the table
scorebytype["Average Math Score"] = scorebytype["Average Math Score"].map("{:.2f}".format)
scorebytype["Average Reading Score"] = scorebytype["Average Reading Score"].map("{:.2f}".format)
scorebytype["% Passing Math"] = scorebytype["% Passing Math"].map("{:.2f}%".format)
scorebytype["% Passing Reading"] = scorebytype["% Passing Reading"].map("{:.2f}%".format)
scorebytype["% Overall Passing"] = scorebytype["% Overall Passing"].map("{:.2f}%".format)

# remove (drop) the unnecessary columns and display
scorebytype.drop(columns=["Total Students","Total School Budget","Per Student Budget"])

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,90.43%
District,76.96,80.97,66.55%,80.80%,53.67%